
#bioB{
 background-color: rgb(11,63,77);
}

#conB{
    background-color: rgb(11,63,77);
   }
   
#projB{
    background-color: rgb(11,63,77);
   }
   
#homeB{
    background-color: rgb(11,63,77);
   }
